/* Variáveis CSS */
:root {
    --color-bg: #2e2e2e;
    --color-sidebar-bg: #393E46;
    --color-text: #f8f8ff;
    --color-hover: #2e2e2e;
    --color-hover-text: #f8f8ff;
    --color-border: #979797;
    --color-border-hover: #2e2e2e;
    --color-btn: #979797;
    --font-family: 'Poppins', sans-serif;
    --font-size-title: 1.3rem;
    --font-size-subtitle: 0.8rem;
    --btn-padding: 10px 20px;
    --btn-border-radius: 10px;
    --transition-speed: 0.3s;
}

/* Reset Básico */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    border: none;
    text-decoration: none;
}

/* Corpo Principal */
body {
    width: 100%;
    height: 100vh;
    max-width: 1024px;
    background: var(--color-bg);
    font-family: var(--font-family);
    display: flex;
}

/* Sidebar */
.sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    max-width: 280px;
    min-width: 280px;
    background: var(--color-sidebar-bg);
    border-radius: 0 5% 5% 0;
    padding: 20px;
}

/* Imagem do Perfil */
.profile-pic {
    width: 150px;
    border-radius: 5%;
    object-fit: cover;
}

/* Nome e Função */
.profile h1 {
    font-size: var(--font-size-title);
    font-weight: bold;
    color: var(--color-text);
    margin-top: 10px;
}

.profile p {
    font-size: var(--font-size-subtitle);
    letter-spacing: 1px;
    font-weight: bold;
    color: var(--color-text);
    margin-top: 5px;
}

/* Navegação Social */
.social-nav ul {
    display: flex;
    gap: 10px;
    font-size: 1.2rem;
    margin-top: 15px;
}

.social-nav ul li a {
    color: var(--color-border);
    border: 1px solid var(--color-border);
    padding: 8px;
    border-radius: 10%;
    transition: color var(--transition-speed), background var(--transition-speed), border var(--transition-speed);

    font-size: 15px;
}

.social-nav ul li a:hover {
    color: var(--color-hover-text);
    background: var(--color-hover);
    border: 1px solid var(--color-hover);
}

/* Botão de Download */
.btn-download {
    border: 1px solid var(--color-btn);
    border-radius: var(--btn-border-radius);
    color: var(--color-btn);
    padding: var(--btn-padding);
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: color var(--transition-speed), background var(--transition-speed), border var(--transition-speed);
}

.btn-download:hover {
    background: var(--color-hover);
    border: 1px solid var(--color-hover);
    color: var(--color-hover-text);
}

/* Rodapé */
.sidebar-footer {
    margin-top: 30px;
}

.sidebar-footer p {
    font-size: 0.9rem;
    color: var(--color-text);
}

