.main-content {
    display: flex;
    align-items: center;
   
}

.tab-nav ul {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    height: 100vh;
    justify-content: space-evenly; /* Isso centraliza os itens verticalmente */
}

.tab-nav ul li {
    display: flex;
    flex-direction: column; /* Adicione isso para garantir que cada li seja uma coluna */
}

.tab-nav ul li a {
    color: var(--color-text-social);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 16px;
    transition: background 0.3s, color 0.3s;
}

.tab-nav ul li a.active, .tab-nav ul li a:hover {
    background: var(--color-text-social);
    color: var(--color-text);
}

.tab-nav span {
    font-size: 0.7rem;
    font-weight: bold;
    display: block;
    line-height: 20px;
    text-align: center;
}

/* Estilos para o menu hambúrguer */
.hamburger {
    display: none;
    background: none;
    border: none;
    color: var(--color-text-social);
    font-size: 24px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.hamburger:focus {
    outline: none;
}

/* Responsividade para telas menores que 768px */
@media screen and (max-width: 768px) {
    .tab-nav ul {
        align-items: center;
        justify-content: center;
        gap: 50px;
        flex-direction: column;
        margin: 20px 0;
    }
    
    /* Oculta o menu lateral por padrão */
    .tab-menu {
        display: none;
    }

    .tab-link {
        display: flex;
    }

    /* Exibe o botão de menu hambúrguer */
    .hamburger {
        display: block;
    }

    /* Quando o menu é aberto */
    .tab-menu.active {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        background: #5a5a5abb;
        width: 30%; /* Aumentado para melhorar o uso em telas menores */
        height: 57vh; /* Altura ajustada para cobrir mais da tela */
        justify-content: center;
        align-items: center;
    }
}

/* Para telas menores que 425px */
@media (max-width: 425px) {
    /* Ajustes no menu */
    .tab-menu.active {
        padding-top: 40px;
        width: 100%; /* Aumentar a largura do menu em telas menores */
        height: 57vh; /* Cobrir mais da altura da tela */
        align-items: flex-start;
    }
    /* Quando o menu é aberto */
    .tab-menu.active {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        background: #5a5a5a;
        width: 100%; /* Aumentado para melhorar o uso em telas menores */
        height: 57vh; /* Altura ajustada para cobrir mais da tela */
        justify-content: center;
        align-items: center;
    }
}

/* Para telas menores que 375px */
@media (max-width: 375px) {
    .tab-menu.active {
        padding-top: 40px;
        width: 100%; /* Aumentar a largura do menu em telas menores */
        height: 57vh; /* Cobrir mais da altura da tela */
        align-items: flex-start;
    }
    /* Quando o menu é aberto */
    .tab-menu.active {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        background: #5a5a5a;
        width: 100%; /* Aumentado para melhorar o uso em telas menores */
        height: 57vh; /* Altura ajustada para cobrir mais da tela */
        justify-content: center;
        align-items: center;
    }
}

/* Para telas menores que 320px */
@media (max-width: 320px) {
    /* Ajustes no menu */
    .tab-menu.active {
        padding-top: 10px;
        width: 95%; /* Cobrir praticamente toda a tela */
        height: 85vh; /* Cobrir quase toda a altura da tela */
        align-items: flex-start;
    }

    .tab-nav ul li {
        margin: 4px 0;
    }

    .tab-nav ul li a {
        font-size: 12px; /* Reduzir a fonte para telas bem pequenas */
        padding: 2px 6px;
    }

    /* Ajuste no botão do menu hambúrguer */
    .hamburger {
        font-size: 14px;
    }

    /* Ajuste no conteúdo das abas */
    section[data-tab-content] {
        padding: 5px;
    }

    section h2 {
        font-size: 16px;
    }

    section p {
        font-size: 10px;
        line-height: 1.1;
    }
}


/* Estilo para o Conteúdo das Abas */
.tab-content{
    padding-left: 20px;
    max-width: 1540px;
    display: none;
}

.tab-content.active {
    display: block;
}

.tab-content-home{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
}

.tab-content-home{
    color: #ffffffb6;
    letter-spacing: 0.8px;
}

.tab-content-home p{
    color: var(--color-text-social);
    text-align: justify;
    font-size: var(--font-size-content-paragraph);
}

/*********** ABOUT **********/
.about-content-text{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.about-content-text h2{
    margin-bottom: 5px;
}

.about-content-text img{
    margin-bottom: 10px;
}

.about-content-text .intro-text{
    margin-bottom: 10px;
    color: var(--color-text-social);
    font-size: var(--font-size-content-paragraph);
}

/********** SKILLS ***********/
.tab-content-skills p{
    color: var(--color-text-social);
    margin-top: 10px;
}

.skills-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: rgba(255, 255, 255, 0.1); /* Fundo transparente */
    border: 2px solid rgba(255, 255, 255, 0.3); /* Borda leve */

    border-radius: 10px;

    padding: 80px;

    max-width: 100px;
    min-width: 210px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card i {
    font-size: 30px;

}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Efeito de hover */
}

