@media screen and (max-width: 768px){
    body{
        flex-direction: column;
        height: auto;
        max-width: 100%;
        min-width: 100%;
    }

    .sidebar{
        padding: 50px;
        border-radius: 0;
    }

    .download-cv .download-btn{
        padding: 8px 10px;
    }
    
}

@media screen and (max-width: 1024px){
    body{
        flex-direction: column;
        height: auto;
        max-width: 100%;
        min-width: 100%;
    }

    .sidebar{
        padding: 50px;
        border-radius: 0;
    }
}
